name: Benchmark
on:
  push:
    branches:
      - main
  workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

jobs:
    benchmark:
        name: Benchmarks
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        - name: Setup Go
          uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
          with:
            go-version-file: go.mod
            cache-dependency-path: go.sum
        - name: Run benchmarks
          run: make benchmark | tee output.txt
        - name: Download previous benchmark data
          uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
          with:
            path: ./benchmarks
            # `github.event.before` means the commit before the push (i.e. the previous commit).
            # So we can fetch the exact benchmark data from the previous commit.
            key: ${{ runner.os }}-benchmark-${{ github.event.before }}
        - name: Store benchmarks result
          uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
          with:
            name: Benchmarks
            tool: 'go'
            output-file-path: output.txt
            external-data-json-path: ./benchmarks/data.json
            github-token: ${{ secrets.GITHUB_TOKEN }}
            gh-pages-branch: benchmarks
            fail-on-alert: true
            alert-threshold: "400%"
            # Add benchmark summary to GitHub workflow run report
            summary-always: true
        - name: Save benchmark data
          uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
          # The cache will be saved even if a step fails.
          if: always()
          with:
            path: ./benchmarks
            # Use the current commit SHA as the cache key.
            key: ${{ runner.os }}-benchmark-${{ github.sha }}
