name: CI

on:
  pull_request:
    branches:
      - main
      - release/**
  push:
    branches:
      - main
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Setup Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Go Mod Download
      run: go mod download
    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
      with:
        version: v2.10.1
        args: "--timeout 5m -v"

  check-license:
    name: Check License
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Setup Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Go Mod Download
      run: go mod download
    - name: Install addlicense
      run: go install github.com/google/addlicense@latest
    - name: Check license headers
      run: |
        addlicense -check -l mit -f ./LICENSE -c "FLYR, Inc" $(find . -type f -name "*.go")

  go-sec:
    name: GoSec
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Setup Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Go Mod Download
      run: go mod download
    - name: Run Gosec Security Scanner
      uses: securego/gosec@c8a396c0b0c6a18ea5bc234f468445f22d4898a2
      with:
        args: '-no-fail -fmt sarif -out gosec-results.sarif ./...'
    - name: Upload GoSec scan to GitHub Security
      uses: github/codeql-action/upload-sarif@45580472a5bb82c4681c4ac726cfdb60060c2ee1 # v3
      with:
        sarif_file: gosec-results.sarif
    - name: Upload Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      id: upload-artifact
      with:
        name: sonar-reports-gosec
        path: gosec-results.sarif

  trivy:
    name: Trivy Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Run Trivy vulnerability scanner filesystem
      uses: aquasecurity/trivy-action@1bd062560b422f5944df1de50abd05162bea079e
      with:
        scan-type: fs
        scan-ref: '.'
        hide-progress: false
        format: "sarif"
        output: "trivy-results-fs.sarif"
    - name: Upload Trivy scan to GitHub Security
      uses: github/codeql-action/upload-sarif@45580472a5bb82c4681c4ac726cfdb60060c2ee1 # v3
      with:
        sarif_file: trivy-results-fs.sarif
    - name: Upload Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      id: upload-artifact
      with:
        name: sonar-reports-trivy-fs
        path: trivy-results-fs.sarif

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Setup Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    - name: Go Mod Download
      run: go mod download
    - name: Run Unit Tests
      continue-on-error: true
      env:
        SPANNER_EMULATOR_HOST: localhost:9010
        PUBSUB_EMULATOR_HOST: localhost:8681
      run: |
        go run gotest.tools/gotestsum@latest --junitfile report.xml --jsonfile test-results.json -- -coverprofile coverage.out ./...
    - name: Convert Unit Tests
      continue-on-error: true
      run: |
        go run github.com/ctrf-io/go-ctrf-json-reporter/cmd/go-ctrf-json-reporter@latest -output ctrf-report.json < test-results.json
    - name: Upload Test Results Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      id: upload-test-results
      with:
        name: sonar-reports-test-results
        path: |
          test-results.json
          report.xml
    - name: Upload Coverage Artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      id: upload-coverage
      with:
        name: sonar-reports-coverage
        path: coverage.out
    - name: Publish Test Report
      uses: ctrf-io/github-test-reporter@024bc4b64d997ca9da86833c6b9548c55c620e40 # v1
      with:
        report-path: ctrf-report.json
        group-by: suite
        summary-report: true
        failed-report: true
        flaky-report: true
        skipped-report: true
        suite-folded-report: true
        exit-on-fail: true

  sonar-cloud:
    name: Run SonarCloud Code Analysis
    runs-on: ubuntu-latest
    needs: [unit-tests, trivy, go-sec]
    if:  ${{ github.actor != 'dependabot[bot]' }} && (success() || failure())
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 0
    - name: Download Artifacts
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
      with:
        pattern: sonar-reports-*
        merge-multiple: true
        path: sonar-reports
    - name: Get Version
      id: version
      run: echo "version=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"
    - name: Get Reports
      id: get-reports
      run: |
        SARIF_FILES=""
        for file in $(find sonar-reports -name '*.sarif'); do
          if [ -z "$SARIF_FILES" ]; then
            SARIF_FILES="$file"
          else
            SARIF_FILES="$SARIF_FILES,$file"
          fi
        done
        echo "sarif_files=$SARIF_FILES" >> "$GITHUB_OUTPUT"
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@2f77a1ec69fb1d595b06f35ab27e97605bdef703 # v5.3.2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.go.coverage.reportPaths=sonar-reports/coverage.out
          -Dsonar.go.tests.reportPaths=sonar-reports/unit-test-results.json
          -Dsonar.sarifReportPaths=${{ steps.get-reports.outputs.sarif_files }}
          -Dsonar.projectVersion=${{ steps.version.outputs.version }}
