name: Release Validation

on:
  pull_request:
    branches:
      - main
      - release/*
    types:
      - opened
      - synchronize
      - reopened
      - edited

permissions:
  contents: read # to fetch code (actions/checkout)
  pull-requests: read # to fetch PR title (amannn/action-semantic-pull-request)

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check-release: # make sure commits are valid for a target branch
    name: Check Valid Release Version
    uses: ./.github/workflows/semantic-release.yaml
    permissions:
      contents: write
      id-token: write
      issues: read
      pull-requests: read
    with:
      dryRun: true
